

h1{
    font-weight:900;
    color: blueviolet;
    text-align: center;
}
.main{
    /* background-image: url('../../assets/blob-scene-haikei.svg'); */
    /* width: 100%; */
    height:525;
    display:flex;
    /* flex-direction: column; */
    justify-content:space-around;
    align-items:center;
    font-size: 16px;
   
    font-family: 'Montserrat', sans-serif;
    color:#fff;

    padding-top: 10px;
    padding-bottom: 21px;
}

.box{
    width:370px;
    height:495px;
    font-size:16px;
    padding:20px 40px;
    background-color: #0f044c;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    border-radius: 30px;
}

.user{
    margin-top: 50px;
}


input{
    width:101%;
    margin-bottom:25px;
    padding:0 30px 15px;
    font-size:16px;
    border:none;
    border-bottom: 1px solid #141e75;
    outline:none;
    background-color: #0f044c;
    color: #fff;
}

input:focus{
    border-bottom: 1px solid #eeeeee;
}

.reset-password{
    color:#ff7f50;
    text-align:right;
    margin-top:0px;
    font-size:12px;
}

.login-btn{
    margin-top:25px;
    display:flex;
    justify-content:center;
    align-items:center;
    flex-direction:column;
}

.btn{
    display:block;
    width:80%;
    padding:15px;
    /* padding-bottom: 10px; */
    margin-top: -20px;
    background-color: #eeeeee;
    color:#0f044c;
    border:none;
    border-radius:20px;
    font-size:20px;
    font-weight:600;
    opacity:0.8;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
}

.btn:hover{
    opacity:1;
    
}
.btn a{
    color: blueviolet;
    
}
.signup {
    color: blueviolet;
}
.signup span{
    color:#7fb8e6;
    cursor: pointer;
}

.signup span::hover{
    color:#3793df
}

a{
    text-decoration: none;
}
p{
    padding-top: 13px;
}
.box2{
    width: 420px;
    height: 390px;
    font-size: 16px;
    padding: 35px 13px;
    background-color: #0f044c;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 30px;

    display: flex;
   flex-direction: column;
    justify-content: space-around;
    align-items: center;
   
}

 

.invalid-input{
    color: red;
    font-size: 12px;
    margin-top: -20px;
}

