<div class="add-product">


    <div class="product">
        <h1>Add New Product</h1>
        <div class="inner-div">

            <p style="color: green;">{{addProductMessage}}</p>
            <form #addProduct="ngForm" (ngSubmit)="addNewProduct(addProduct.value)">
                <div class="user">
                    <i class="fa-solid fa-p"></i>
                    <input type="text" class="form-input" placeholder="Enter product name" ngModel name="name"
                        #name="ngModel" required pattern="[a-zA-Z0-9 ]+">
                    <p class="invalid-input">
                        <span *ngIf="name.invalid && name.touched">Please Enter Valid name</span>
                        <span *ngIf="name.errors?.['pattern']">Name must contain only letters</span>

                    </p>
                    <i class="fa-solid fa-rupee-sign"></i>
                    <input type="text" class="form-input" placeholder="Enter product price" ngModel name="price"
                        #price="ngModel" required pattern="[0-9]+" minlength="1" maxlength="6">
                    <p class="invalid-input">
                        <span *ngIf="price.invalid && price.touched">Please enter a valid price</span>
                        <!-- <span *ngIf="price.errors && price.errors['required']">Price is required</span> -->
                        <span *ngIf="price.errors?.['pattern']">Price must contain only numbers</span>
                        <span *ngIf="price.errors && price.errors['min']">Price must be at least 0</span>
                        <span *ngIf="price.errors && price.errors['max']">Price must be at most 6</span>
                    </p>

                    <i class="fa-solid fa-paintbrush"></i>
                    <input type="text" class="form-input" placeholder="Enter product category" ngModel name="category"
                        #category="ngModel" required pattern="[a-zA-Z ]+">
                    <p class="invalid-input">
                        <span *ngIf="category.invalid && category.touched">Please Add valid Category</span>
                        <span *ngIf="name.errors?.['pattern']">Name must contain only letters</span>
                    </p>
                    <i class="fa-solid fa-paintbrush"></i>
                    <input type="text" class="form-input" placeholder="Enter product color" ngModel name="color"
                        #color="ngModel" required pattern="[a-zA-Z ]+">
                    <p class="invalid-input">
                        <span *ngIf="color.invalid && color.touched">Please Enter  color</span>
                        <span *ngIf="name.errors?.['pattern']">Name must contain only letters</span>
                    </p>

                    <i class="fa-solid fa-image"></i>
                    <label for="upload"><img [src]="imageBases64 ? imageBases64 : '../../assets/addpic.png'" alt=""
                            width="50px"></label>

                    <input type="file" id="upload" (change)="onFileSelected($event)" class="d-none" ngModel
                        name="image">
                    <br>
                    <!-- <input type="text" class="form-input" placeholder="Enter product image Url" ngModel name="image"> -->
                    <i class="fa-solid fa-info"></i>
                    <input type="text" class="form-input" placeholder="Enter product description" ngModel
                        name="description" #description="ngModel" required pattern="[a-zA-Z ]+">
                    <p class="invalid-input">
                        <span *ngIf="description.invalid && description.touched">Please Enter Valid
                            name</span>
                        <span *ngIf="name.errors?.['pattern']">Name must contain only letters</span>
                    </p>

                </div>
                <div class="login-btn">
                    <button class="btn" [disabled]="addProduct.invalid"> <a> Add-Product</a></button>

                </div>
            </form>
        </div>

    </div>


</div>