<div class="product-list">



    <div class="product-div-list">
        <div class="header">
            <h2> My Orders</h2>
            <!-- <p style="color: green;">{{productMessage}}</p> -->
        </div>
        <div class="content-div">
            <table border="1">
                <tr>
                    <th>Order</th>
                    <th>OrderId</th>
                    <th>Price</th>
                    <th>Status</th>
                    <th>Action</th>

                </tr>
                <tr>
                    <td> <img src="https://wallpaperaccess.com/full/4723250.jpg" width="80px"
                            alt="this is image apple" /> </td>

                    <td>#bjnji</td>
                    <td>₹522</td>

                    <td>In Progress</td>
                    <td><button>camcl</button></td>



                </tr>
                <tr>
                    <td> <img src="https://wallpaperaccess.com/full/4723250.jpg" width="80px"
                            alt="this is image apple" /> </td>

                    <td>#bjnji</td>
                    <td>₹522</td>

                    <td>In Progress</td>
                    <td><button>camcl</button></td>



                </tr>

                <tr>
                    <td> <img src="https://wallpaperaccess.com/full/4723250.jpg" width="80px"
                            alt="this is image apple" /> </td>

                    <td>#bjnji</td>
                    <td>₹522</td>

                    <td>In Progress</td>
                    <td class="btnnnn"><button class="btn"> <a> Cancle</a></button></td>



                </tr>
            </table>
        </div>

    </div>
</div>