<div class="product-list">



  <div class="product-div-list">
    <div class="header">
      <h2> All Product List</h2>
      <p style="color: green;">{{productMessage}}</p>
    </div>
    <div class="content-div">
      <table border="1">
        <tr>
          <th>Product-Name</th>
          <th>Image</th>
          <th>Price</th>
          <th>category</th>
          <th>Color</th>
          <th>Description</th>
          <th>Action</th>
        </tr>
        <tr *ngFor="let product of productList">
          <td>{{product.name}} </td>
          <td><img src="{{product.image}}" width="80px" alt="this is image apple" /></td>
          <td>₹{{product.price}}</td>
          <td>{{product.category}}</td>
          <td>{{product.color}}</td>
          <td>{{product.description}}</td>
          <td class="font-icon">
            <i class="fa-solid fa-trash" (click)="deleteProduct(product)"></i>
            <i class="fas fa-edit" routerLink="/seller-update-product/{{product.id}}"></i>
          </td>


        </tr>

      </table>
    </div>

  </div>
</div>