/* You can add global styles to this file, and also import other style files */

@import '@fortawesome/fontawesome-free/css/all.css';
@import "bootstrap/dist/css/bootstrap.min.css";


body{
    font-family: sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    
}
/* .container{
    margin-right: 5%;
    margin-left: 5%;
} */

/* home page ke liye */
.carousel-control-next-icon, .carousel-control-prev-icon 
{
  background-color: #0a0a0a;
 border-radius: 5px;
 color: blueviolet;
}

/* seller home table */
